[submodule "mods/han_china"]
	path = mods/han_china
	url = https://github.com/0ADMods/han_china.git
[submodule "mods/lusitanians"]
	path = mods/lusitanians
	url = https://github.com/0ADMods/lusitanians.git
[submodule "mods/millenniumad"]
	path = mods/millenniumad
	url = https://github.com/0ADMods/millenniumad.git
[submodule "mods/aristeia"]
	path = mods/aristeia
	url = https://github.com/0ADMods/aristeia.git
