body {
	margin: 0;
	padding: 0;
	background: rgb(204, 229, 229);
	font-family: sans-serif;
	font-size: 16px;
}

#svg_canvas {
	width: 1024px;
	height: 512px;
	display: none;
}

div {
	position: fixed;
}

#selectDiv {
	right: 4px;
	top: 4px;
	font-size: 0.8em;
	display: none;
}

#modDiv, #attrDiv {
	top: 32px;
	right: 4px;
	padding: 2px;
	font-size: 0.8em;
	border: solid rgb(0,136,136) 1px;
	background: rgba(255, 255, 255, 0.9);
	display: none;
}
#modDiv {
	text-align: center;
}
#attrDiv {
	max-width: 33%;
}

p {
	padding: 0;
	margin: 4px 2px;
}

a {
	color: rgb(0, 126, 126);
}

fieldset {
	border: solid rgb(0,136,136) 1px;
	padding: 2px;
	text-align: left;
}

fieldset, input[type=button] {
	margin: 2px;
}

select, input[type=button] {
	border: solid rgb(0,136,136) 1px;
}

input[type=button]:hover {
	background: rgba(0, 136, 136, 0.2);
}

.ico {
	font-size: 1.4em !important;
	font-weight: bold;
	color: rgba(0, 136, 136, 0.8);
}
.ico:hover {
	color: rgb(255, 255, 255);
}

select {
	background: rgba(255, 255, 255, 0.4);
}

select:hover {
	border-color: rgb(255, 255, 255);
}

select, .ico, input[type=checkbox] {
	vertical-align: middle;
}

select, .ico, input, label {
	cursor: pointer;
}

#license {
	text-align: center;
	display: block;
	margin: 4px 0 2px;
	font-size: 0.1em;
}

#renderBanner {
	padding: 16px;
	top: 128px;
	left: 0;
	right: 0;
	color: rgb(0,136,136);
	text-align: center;
	border: solid rgb(0,136,136);
	border-width: 1px 0;
	background: -webkit-linear-gradient( 0deg, rgba(0,136,136,0.2), rgba(204,238,238,0.2), rgba(0,136,136,0.2));
	background:    -moz-linear-gradient(90deg, rgba(0,136,136,0.2), rgba(204,238,238,0.2), rgba(0,136,136,0.2));
	background:     -ms-linear-gradient(90deg, rgba(0,136,136,0.2), rgba(204,238,238,0.2), rgba(0,136,136,0.2));
	background:      -o-linear-gradient( 0deg, rgba(0,136,136,0.2), rgba(204,238,238,0.2), rgba(0,136,136,0.2));
	background:         linear-gradient(90deg, rgba(0,136,136,0.2), rgba(204,238,238,0.2), rgba(0,136,136,0.2));
}
